.empty {
  flex: 2;
  border-right: 1px solid #f525485e;
  border-left: 1px solid #f525485e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: translateX(1000px);
  animation: chatAnimate 1s ease-in-out 3s forwards;

  h3 {
    font-size: 25px;

    letter-spacing: 1px;
    color: #2f3c7e;
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}
@keyframes chatAnimate {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
  }
}
